@page
@model asp_project.Pages.test.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVModel[0].Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CVModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
