@page
@model asp_project.Pages.SendCVModel
@{
	ViewData["Title"] = "Send CV";
}

<form method="post" enctype="multipart/form-data">

	<div class="form-group">
		<input type="text" id="first-name" asp-for="CVModel.FirstName" />
		<label for="first-name" asp-for="CVModel.FirstName">First Name</label>
	</div>

	<div class="form-group">
		<input type="text" id="last-name" asp-for="CVModel.LastName" />
		<label for="last-name" asp-for="CVModel.LastName">Last Name</label>
	</div>
	<div class="form-group">
		<input type="email" id="email" asp-for="CVModel.Email" />
		<label for="email" asp-for="CVModel.Email">Email</label>
	</div>
	<div class="form-group">
		<input type="email" id="confirm-email" asp-for="ConfirmationEmail" />
		<label for="confirm-email" asp-for="ConfirmationEmail">Confirm email</label>
	</div>
	<label class="form-check-label" asp-for="CVModel.Gender">Gender:</label>

	<div class="form-check">
		<input class="form-check-input" type="radio" id="male" value="male" asp-for="CVModel.Gender" />
		<label for="male" class="form-check-label" asp-for="CVModel.Gender">Male</label>
	</div>

	<div class="form-check">
		<input class="form-check-input" type="radio" id="female" value="female" asp-for="CVModel.Gender" />
		<label for="female" class="form-check-label" asp-for="CVModel.Gender">Female</label>
	</div>

	<div class="form-check">
		<input class="form-check-input" type="radio" id="other" value="other" asp-for="CVModel.Gender" />
		<label for="other" class="form-check-label" asp-for="CVModel.Gender">Other</label>
	</div>

	<div class="form-group">

		<label for="date-of-birth">Date of birth</label>
		<input type="date" id="date-of-birth" asp-for="CVModel.DateOfBirth" />

	</div>
	<div class="form-group">

		<label for="nationality" asp-for="CVModel.NationalityId">Select your nationality</label>
		<select class="form-control" asp-for="CVModel.NationalityId">
			<option value="0" selected>Nationality</option>
			@foreach (var nationality in Model.Db.Nationalities)
			{
				<option value="@nationality.Id">@nationality.Name</option>
			}
		</select>
	</div>

	<label>Select your skills</label>
	@foreach (var skill in Model.Db.Skills)
	{
		<div class="form-check">
			<input type="checkbox" value="@skill.Id" name="SkillId" /> @skill.Name
		</div>
	}

	<div class="form-group">

		<label asp-for="@Model.Image">User Picture</label>
		<input class="form-control-file" asp-for="@Model.Image" type="file" />
	</div>

	<div class="text-danger" asp-validation-summary="All"></div>

	<div class="form-group">
		<input type="number" asp-for="X" />
		<span asp-validation-for="X">X</span>
	</div>

	<div class="form-group">
		<input type="number" asp-for="Y" />
		<span asp-validation-for="Y">Y</span>
	</div>
	<div class="form-group">

		<input type="number" id="sum" asp-for="Sum" />
		<span asp-validation-for="Sum">Sum</span>
	</div>

	<input class="btn btn-primary" type="submit" value="Submit" />

</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}