@page
@model asp_project.Pages.SummaryModel
@{
	ViewData["Title"] = "Summary";
}

<div id="container">
	<h2>@Model.CVModel.FirstName @Model.CVModel.LastName</h2>
	<p>Email: @Model.CVModel.Email</p>
	<p>Gender: @Model.CVModel.Gender</p>
	<p>Nationality: @Model.CVModel.Nationality.Name</p>
	<p>Skills:</p>
	@foreach (var skill in Model.CVModel.Skills)
	{
		<p>@skill.Name</p>
	}
	<p>Grades: @Model.CVModel.Grade</p>
	<div class="row d-flex justify-content-center">
		<img class="col-md-6" src="@Model.ImageSrc" alt="user picture" />
	</div>
</div>
<button class="btn btn-primary" id="pdf">Download pdf</button>
<button class="btn btn-secondary" id="word">Download word</button>
@section Scripts
	{

	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		const b1 = document.getElementById('pdf')
		const pdf = () => {
			const element = document.getElementById('container')
			const opt = {
				margin: 30,
				filename: 'cv.pdf',
				jsPDF: {
					orientation: 'l',
					format: 'a3'
				}
			}
			html2pdf(element, opt)
		}
		b1.addEventListener('click', pdf)

		const b2 = document.getElementById('word')

		const word = () => {
			const header = `<html xmlns:o='urn:schemas-microsoft-com:office:office'
						xmlns:w='urn:schemas-microsoft-com:office:word'
						xmlns='http://www.w3.org/TR/REC-html40'>`

			const sourceHTML = header + document.getElementById('container').innerHTML

			const source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML)
			const fileDownload = document.createElement('a')
			document.body.appendChild(fileDownload)
			fileDownload.href = source
			fileDownload.download = 'document.doc'
			fileDownload.click()
			document.body.removeChild(fileDownload)
		}

		b2.addEventListener('click', word)
	</script>
}